<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sum Calci</title>
</head>
<body>
    <h1>Sum calci</h1>
    <form action="/calculate" method="post">
        <label for="num1">Enter num1</label>
        <input type="number" name="num1"><br><br>
        <label for="num2">Enter num2</label>
        <input type="number" name="num2"><br><br>
        <input type="submit" value="Calculate Sum">
    </form>
</body>
</html>
